<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p>Upvotes: <%= @article.upvotes %>, Downvotes: <%= @article.downvotes %>, Votes: <%= @article.votes %>, Rating: <%= @article.rating %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Upvote", upvote_article_path(@article) %></li>
  <li><%= link_to "Downvote", downvote_article_path(@article) %></li>
  <li><%= link_to "Back to articles", articles_path %></li>
</ul>
